{% extends 'base.html' %}
{% block title %}Корзина{% endblock %}
{% block content %}
<div class="p-3">
    <table class="table table-border my-2">
        <thead>
        <tr>
            <th>Изображение</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена за шт.</th>
            <th>Цена за позицию</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with item.product as product%}
                <tr>
                    <td>
                        {% if product.photo %}
                            <img src="{{ product.photo.url }}" class="card-img-top" style="height: 25rem; width: auto;" alt="{{ product.name }}">
                        {% else %}
                            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Нет фото">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'about' product.id %}">{{ product.name }}</a>
                    </td>
                    <td>
                        {{ item.count }} шт.
                    </td>
                    <td>
                        {{ item.price }} руб.
                    </td>
                    <td>
                        {{ item.total_price }} руб.
                    </td>
                    <td>
                        <a href="{% url 'cart_remove' product.pk %}" class="btn btn-danger">Убрать из корзины</a>
                    </td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr>
            <td colspan="2">Всего:</td>
            <td>{{cart|length}} шт.</td>
            <td colspan="2">{{ cart.get_total_price }} руб.</td>
            <td><a href="{% url 'cart_clear' %}" class="btn btn-danger">Очистить коризну</a></td>
        </tr>
        </tbody>
    </table>
    {% if cart|length > 0 %}
        <a href="{% url 'order_open' %}" class="btn btn-outline-primary">Купить</a>
    {% endif %}
</div>
{% endblock %}