asgiref==3.8.1
astroid==3.3.11
colorama==0.4.6
diff-match-patch==20241021
dill==0.4.0
Django==5.2.3
django-dbbackup==5.0.0
django-extensions==4.1
django-filter==25.1
django-import-export==4.3.14
django-prometheus==2.4.1
djangorestframework==3.16.0
drf-yasg==1.21.11
graphviz==0.21
gunicorn==23.0.0
inflection==0.5.1
isort==6.1.0
mccabe==0.7.0
packaging==25.0
pillow==11.2.1
platformdirs==4.4.0
prometheus_client==0.23.1
psycopg==3.2.9
psycopg2-binary==2.9.10
pylint==3.3.8
pytz==2025.2
PyYAML==6.0.3
sqlparse==0.5.3
tablib==3.9.0
tomlkit==0.13.3
typing_extensions==4.14.0
tzdata==2025.2
uritemplate==4.2.0
