{% extends 'base.html' %}
{% block title %}Категории{% endblock %}
{% block content %}
    <div class="container-md">
        <div class="card px-2 mb-3">
            <form method="GET" class="mb-2 d-flex justify-content-between align-items-end">
                <div>
                    <label for="sort" class="form-label">Сортировать по</label>
                    <select class="form-select" name="sort" id="sort" onchange="this.form.submit()">
                        <option value="">Без сортировки</option>
                        <option value="price_asc" {% if sort == 'price_asc' %}selected{% endif %}>Цене ↑</option>
                        <option value="price_desc" {% if sort == 'price_desc' %}selected{% endif %}>Цене ↓</option>
                    </select>
                </div>
                <div>
                    <label for="category" class="form-label">Категория</label>
                    <select class="form-select" name="category" id="category" onchange="this.form.submit()">
                        <option value="">Все категории</option>
                        {% for cat in categories %}
                            <option value="{{ cat.id }}" {% if category == cat.id|stringformat:"s" %}selected{% endif %}>{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="manufacturer" class="form-label">Производитель</label>
                    <select class="form-select" name="manufacturer" id="manufacturer" onchange="this.form.submit()">
                        <option value="">Все производители</option>
                        {% for man in manufacturers %}
                            <option value="{{ man.id }}" {% if manufacturer == man.id|stringformat:"s" %}selected{% endif %}>{{ man.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="search" class="form-label">Поиск</label>
                    <input class="form-control" type="search" name="search" id="search" placeholder="Поиск..." value="{{ search }}" aria-label="Поиск">
                </div>
            </form>
        </div>
        <div class="row row-cols-md-2 row-cols-sm-1 g-3">
            {% for product in products %}
                {% include 'product_card.html' with product=product%}
            {% empty %}
                <p class="text-center">Товары не найдены 😔</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}